<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout__title">
            Estevão de Abreu Machado
        </span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
            <a ng-repeat="link in $ctrl.navigation_links" class="mdl-navigation__link" href="{{link.url}}">{{link.title}}</a>
            <button class="theme-toggle" ng-click="$ctrl.toggleTheme()">
                <i class="material-icons" ng-repeat="theme in $ctrl.themes" ng-if="$ctrl.currentTheme === theme.id">{{theme.icon}}</i>
            </button>
        </nav>
    </div>
</header>